{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-7 col-lg-5">
    <div class="card shadow border-0">
      <div class="card-header text-center py-4" style="background:#d9232e;color:#fff;">
        <h3 class="mb-0 fw-bold">My Account</h3>
				<small class="opacity-75">Edit your H-E-B account</small>
      </div>

      <div class="card-body p-4">
        <form action="" method="post" novalidate id="login-form">
          {{ form.hidden_tag() }}

          <!-- 
            This is the JS Hook for showing success/error messages.
            auth.js will find this div by its ID.
          -->
          <div id="auth-message" class="alert d-none" role="alert"></div>          
          
          <div class="mb-3">
            {{ form.username.label(class_="form-label fw-semibold") }}
            {{ form.username(class_="form-control", placeholder="jane_doe") }}
            {% for err in form.username.errors %}
              <div class="form-error text-danger small">{{ err }}</div>
            {% endfor %}
          </div>

          <div class="mb-3">
            {{ form.new_password.label(class_="form-label fw-semibold") }}
            {{ form.new_password(class_="form-control", placeholder="Your password") }}
            {% for err in form.new_password.errors %}
              <div class="form-error text-danger small">{{ err }}</div>
            {% endfor %}
          </div>

          <div class="mb-3">
            {{ form.verify_password.label(class_="form-label fw-semibold") }}
            {{ form.verify_password(class_="form-control", placeholder="Your password") }}
            {% for err in form.verify_password.errors %}
              <div class="form-error text-danger small">{{ err }}</div>
            {% endfor %}
          </div>

          <div class="mb-3">
            {{ form.current_password.label(class_="form-label fw-semibold") }}
            {{ form.current_password(class_="form-control", placeholder="Your password") }}
            {% for err in form.current_password.errors %}
              <div class="form-error text-danger small">{{ err }}</div>
            {% endfor %}
          </div>

          <div class="d-grid mt-3">
            {{ form.submit(class_="btn btn-danger btn-lg") }}
          </div>
<p class="text-center mt-3">
    <a href="deleteuser">Delete Account</a>
</p>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
